body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:543px;
  width:146px;
  height:58px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:142px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:233px;
  width:119px;
  height:47px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:528px;
  width:119px;
  height:47px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1075px;
  width:119px;
  height:47px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:572px;
  width:0px;
  height:0px;
}
#u5_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u5_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-319px;
  width:8px;
  height:323px;
}
#u5_seg2 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-319px;
  width:17px;
  height:8px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-124px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:572px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-24px;
  width:8px;
  height:28px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-24px;
  width:17px;
  height:8px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:572px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-4px;
  width:8px;
  height:535px;
}
#u7_seg2 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:523px;
  width:17px;
  height:8px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:214px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:770px;
  width:119px;
  height:47px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:572px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-4px;
  width:8px;
  height:230px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:218px;
  width:17px;
  height:8px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1230px;
  width:119px;
  height:47px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:145px;
  width:96px;
  height:38px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:208px;
  width:96px;
  height:38px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:273px;
  width:96px;
  height:38px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:321px;
  width:96px;
  height:38px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:200px;
  width:88px;
  height:38px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:252px;
  width:88px;
  height:38px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:303px;
  width:88px;
  height:38px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:219px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-59px;
  width:8px;
  height:63px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-59px;
  width:19px;
  height:8px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:219px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:16px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:4px;
  width:19px;
  height:8px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:271px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-48px;
  width:8px;
  height:52px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-48px;
  width:19px;
  height:8px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:322px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-34px;
  width:8px;
  height:38px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-34px;
  width:19px;
  height:8px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:322px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:26px;
}
#u22_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:19px;
  height:8px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:148px;
  width:88px;
  height:38px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:167px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-7px;
  width:8px;
  height:11px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-7px;
  width:19px;
  height:8px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:115px;
  width:105px;
  height:34px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:183px;
  width:105px;
  height:34px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:247px;
  width:105px;
  height:34px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:164px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-36px;
  width:8px;
  height:40px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-36px;
  width:15px;
  height:8px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:164px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:44px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:32px;
  width:15px;
  height:8px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:164px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:108px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:96px;
  width:15px;
  height:8px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:541px;
  width:88px;
  height:38px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:589px;
  width:88px;
  height:38px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:493px;
  width:88px;
  height:38px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:493px;
  width:96px;
  height:38px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:541px;
  width:96px;
  height:38px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:589px;
  width:96px;
  height:38px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:512px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:560px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-52px;
  width:8px;
  height:56px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-52px;
  width:15px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:560px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:608px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:552px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-44px;
  width:8px;
  height:48px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-44px;
  width:18px;
  height:8px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:552px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:8px;
  height:16px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:4px;
  width:18px;
  height:8px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:552px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:8px;
  height:64px;
}
#u43_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:52px;
  width:18px;
  height:8px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:446px;
  width:117px;
  height:34px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:517px;
  width:117px;
  height:34px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:561px;
  width:117px;
  height:34px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:621px;
  width:117px;
  height:34px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:512px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-53px;
  width:8px;
  height:57px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-53px;
  width:19px;
  height:8px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:512px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:30px;
}
#u49_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:18px;
  width:21px;
  height:8px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:512px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:74px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:62px;
  width:21px;
  height:8px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:608px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:38px;
}
#u51_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:26px;
  width:21px;
  height:8px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:560px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u52_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-30px;
  width:8px;
  height:34px;
}
#u52_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-30px;
  width:21px;
  height:8px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:560px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:26px;
}
#u53_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:14px;
  width:21px;
  height:8px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:775px;
  width:102px;
  height:38px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:774px;
  width:96px;
  height:38px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:822px;
  width:96px;
  height:38px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:708px;
  width:158px;
  height:39px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:726px;
  width:96px;
  height:38px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:794px;
  width:158px;
  height:39px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:884px;
  width:158px;
  height:39px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:794px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:794px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-53px;
  width:8px;
  height:57px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-53px;
  width:15px;
  height:8px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:794px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-5px;
  width:8px;
  height:9px;
}
#u63_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-5px;
  width:15px;
  height:8px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:794px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-4px;
  width:8px;
  height:55px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:43px;
  width:15px;
  height:8px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:745px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-21px;
  width:8px;
  height:25px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-21px;
  width:21px;
  height:8px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:793px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:119px;
}
#u66_seg2 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:107px;
  width:21px;
  height:8px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:745px;
  width:0px;
  height:0px;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:77px;
}
#u67_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:65px;
  width:30px;
  height:8px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:841px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-31px;
  width:8px;
  height:35px;
}
#u68_seg2 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-31px;
  width:20px;
  height:8px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1011px;
  width:102px;
  height:38px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1006px;
  width:119px;
  height:47px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1011px;
  width:119px;
  height:38px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:966px;
  width:115px;
  height:37px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1012px;
  width:115px;
  height:37px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1057px;
  width:115px;
  height:37px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1030px;
  width:0px;
  height:0px;
}
#u75_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:1099px;
  width:0px;
  height:0px;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-73px;
  width:8px;
  height:77px;
}
#u76_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-73px;
  width:17px;
  height:8px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:1099px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:163px;
}
#u77_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:151px;
  width:17px;
  height:8px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:1030px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1030px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-49px;
  width:8px;
  height:53px;
}
#u79_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-49px;
  width:14px;
  height:8px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1030px;
  width:0px;
  height:0px;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:9px;
}
#u80_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-3px;
  width:14px;
  height:8px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1030px;
  width:0px;
  height:0px;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:54px;
}
#u81_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:42px;
  width:14px;
  height:8px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1206px;
  width:102px;
  height:38px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1235px;
  width:119px;
  height:38px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1263px;
  width:102px;
  height:38px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1165px;
  width:163px;
  height:37px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:159px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1212px;
  width:229px;
  height:37px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:225px;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1259px;
  width:115px;
  height:37px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1306px;
  width:115px;
  height:37px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1254px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-33px;
  width:8px;
  height:37px;
}
#u89_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-33px;
  width:21px;
  height:8px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1254px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:36px;
}
#u90_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:24px;
  width:21px;
  height:8px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:1225px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:37px;
}
#u91_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:25px;
  width:19px;
  height:8px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:1282px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-32px;
  width:8px;
  height:36px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-32px;
  width:19px;
  height:8px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1254px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-74px;
  width:8px;
  height:78px;
}
#u93_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-74px;
  width:14px;
  height:8px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1254px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-27px;
  width:8px;
  height:31px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-27px;
  width:14px;
  height:8px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1254px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:32px;
}
#u95_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:20px;
  width:14px;
  height:8px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1254px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:79px;
}
#u96_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:67px;
  width:14px;
  height:8px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:257px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-94px;
  width:8px;
  height:98px;
}
#u97_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-94px;
  width:17px;
  height:8px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:257px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-42px;
  width:8px;
  height:46px;
}
#u98_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-42px;
  width:17px;
  height:8px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:257px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:22px;
}
#u99_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:10px;
  width:17px;
  height:8px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:257px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:73px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:61px;
  width:17px;
  height:8px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
